extends layout 

block content 
  h1=title 
  h2 #{category.name}

  h3 Products in Category:
  ul
    each product in products 
      li 
        a(href=product.url) #{product.name}
    
  hr
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category